[MESSAGES CONTROL]

# Catching too general exception Exception
# Instance of 'Class' has no 'attribute' member, particulierement pour Document de pymupdf
# Disabel warning for line too long
disable=W0718,E1101,C0301 